* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  padding: 1.2rem;
  background-color: #000000;
  height: 100vh;
}

.heading_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  margin: 1rem;
  font-size: 1rem;
  font-weight: 200;
}

.movies_list {
  margin: 1rem;
  font-size: 3rem;
  font-weight: 800;
}
.parent_container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
.logo {
  width: 8rem;
}

.btn {
  background-color: red;
  border: none;
  padding: 0.4rem;
  color: white;
  border-radius: 0.2rem;
}

.nav {
  width: 80%;
  margin: 0rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tv_parent {
  background-color: #000000;
  color: white;
}

.tv_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
